:root {
  --text-main-color: #212121;
  --brand-mlight-color: #2196f3;
  --brand-second-color: #ffffff;
  --brand-two-color: #2f303a;
  --brand-contact-color: #757575;
  --brand-background-color-1: #2f303a;
  --icon-color: #afb1b8;
  --transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.4em;
  vertical-align: baseline;
  text-decoration: none;
  outline: 0;
}

.studio {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--text-main-color);
  background: var(--brand-second-color);
  text-align: center;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-menu {
  padding-top: 60px;
}
.section-offer {
  padding-bottom: 40px;
}
.section__categories {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.section__team {
  background: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .section-menu {
    padding-top: 94px;
  }
  .section-offer {
    padding-bottom: 64px;
  }
  .section__categories {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .section__team {
    background: #f5f4fa;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .section_segregate {
    display: none;
    overflow: hidden;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .section_segregate {
    display: none;
    overflow: hidden;
  }
}
.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}
/*
.container{
    width: 1200px;
    padding: 0 15px;
    align-items: center;
    margin: 0 auto;
}
*/
.policy {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.policy__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  transition: var(--transition);
  transition-property: text-decoration, color;
}
.policy__link:active, .policy__link:hover, .policy__link:active {
  color: var(--brand-mlight-color);
}
.policy-button {
  margin-left: 124px;
  margin-top: 30px;
}

.modal-form__policy--text {
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.modal-form__policy--text::before {
  display: inline-block;
  content: "";
  width: 16px;
  height: 15px;
  outline: 1px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
  cursor: pointer;
  transition: var(--transition);
  transition-property: background-color;
}

.modal-form__policy:checked + .modal-form__policy--text::before {
  background-color: #2196f3;
  width: 16px;
  height: 15px;
  border: none;
  background-image: url(../image/vector1.png);
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 2px;
  outline: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.form {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}
.form .form-input:focus-within {
  border: 1px solid var(--brand-mlight-color);
}
.form-label {
  display: block;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  transition: var(--transition);
  transition-property: border, fill;
}
.form-label__icon--name {
  position: absolute;
  left: 12px;
  top: 65px;
}
.form-label__icon--phone {
  position: absolute;
  left: 12px;
  top: 133px;
}
.form-label__icon--email {
  position: absolute;
  left: 12px;
  top: 200px;
}
.form-label__text {
  margin-bottom: 4px;
}
.form-label:focus-within {
  fill: var(--brand-mlight-color);
}
.form-label__topic {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}
.form-label__textarea {
  margin-top: 4px;
  padding: 12px 16px 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  transition: var(--transition);
  transition-property: border;
  cursor: pointer;
}
.form-label__textarea:focus {
  border: 1px solid var(--brand-mlight-color);
}
.form-input {
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 450px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-indent: 42px;
  cursor: pointer;
}
.form-input::placeholder {
  color: #9e9e9e;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: transform, visibility, opacity;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-100%);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: transform;
  border-radius: 4px;
}
.modal__close--btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.menu-toggle {
  margin-left: auto;
  margin-right: 0;
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
.menu-toggle__icon {
  fill: #000;
}
.menu-toggle__icon:active, .menu-toggle__icon:hover, .menu-toggle__icon:focus {
  fill: #2196F3;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px 48px 40px;
  background-color: #FFFFFF;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--text-main-color);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}
.mobile-menu__link {
  display: block;
  text-align: left;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: var(--text-main-color);
}
.mobile-menu__link--active-page {
  color: #2196F3;
}

.mobile-contact {
  text-align: left;
  list-style: none;
}
.mobile-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  padding-top: 270px;
  padding-bottom: 32px;
}
.mobile-contact__link-tel {
  color: #2196F3;
}
.mobile-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  padding-bottom: 60px;
}
.mobile-contact__link-mail {
  color: #757575;
}

.mobile-social {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
}
.mobile-social__item {
  padding-right: 6px;
}
.mobile-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
.mobile-social__line {
  color: rgba(33, 33, 33, 0.2);
  padding-left: 4px;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.describe {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.describe > .describe__label {
  text-align: left;
  padding-top: 49px;
  padding-left: 24px;
  padding-right: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.logo__link {
  text-decoration: none;
  color: var(--text-main-color);
  transition: var(--transition);
  transition-property: color, background-color, box-shadow;
}
.logo__link:visited {
  color: var(--text-main-color);
}
.logo__link:active, .logo__link:hover, .logo__link:focus {
  color: var(--brand-mlight-color);
}
.logo--first-color {
  color: var(--brand-mlight-color);
}
.logo--two-color {
  color: var(--text-main-color);
}
.logo--three-color {
  color: var(--brand-second-color);
}

.navi {
  display: flex;
  list-style: none;
}
.navi__item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-size: 14px;
  color: #212121;
}
.navi__item--start {
  margin-right: 46px;
}
.navi__links {
  text-decoration: none;
  position: relative;
  color: var(--text-main-color);
  transition: var(--transition);
  transition-property: color, background-color, box-shadow;
}
.navi__links--underline::after {
  content: "";
  display: block;
  position: absolute;
  border-top: 4px solid var(--brand-mlight-color);
  border-radius: 2px;
  width: 100%;
  bottom: -33px;
  left: 0;
}
.navi__links:active, .navi__links:hover, .navi__links:focus {
  color: var(--brand-mlight-color);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .navi {
    display: none;
    overflow: hidden;
  }
}
.top-contact {
  display: flex;
  list-style: none;
  margin-left: auto;
  margin-right: 12px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.top-contact__link {
  color: var(--brand-contact-color);
  text-decoration: none;
  transition: var(--transition);
  transition-property: color, fill;
}
.top-contact__link:active, .top-contact__link:hover, .top-contact__link:focus {
  fill: #2196f3;
  color: #2196f3;
}
.top-contact__link--end {
  margin-left: 50px;
}
.top-contact__object {
  transition: var(--transition);
  transition-property: fill;
}
.top-contact__object:active, .top-contact__object:hover, .top-contact__object:focus {
  fill: var(--brand-main-color);
}
.top-contact__icon {
  fill: #afb1b8;
  transition: var(--transition);
  transition-property: fill;
}
.top-contact__icon--phone {
  margin-right: 6px;
  margin-bottom: -1px;
}
.top-contact__icon--mail {
  margin-right: 6px;
  margin-bottom: -3px;
}
.top-contact:hover .top-contact__icon {
  fill: var(--brand-main-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
  }
  .top-contact__link--end {
    display: block;
    margin-top: 10px;
    margin-left: 0;
    padding-left: 1px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .top-contact {
    display: none;
    overflow: hidden;
  }
}
.description {
  display: flex;
  min-height: 400px;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/mobile/header_mobile480x400.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 480px;
}
.description__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-width: auto;
}
.description__name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.06em;
  color: var(--brand-second-color);
  max-width: 365px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .description {
    display: flex;
    min-height: 400px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/tablet/header_tablet768x400.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .description {
    display: flex;
    min-height: 600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/desktop/header_desktop1600x600.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1600px;
  }
  .description__name {
    font-family: "Roboto";
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.06em;
    color: var(--brand-second-color);
    max-width: 696px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px), screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
  .description {
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/mobile/header_mobile@2x.jpg");
    background-size: 480px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px), screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
  .description {
    min-height: 400px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/tablet/header_tablet768x400@2x.jpg");
    background-size: 768px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .description {
    min-height: 600px;
    background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../image/desktop/header_desktop1600x600@2x.jpg");
    background-size: 1600px;
  }
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: var(--brand-mlight-color);
  border: 0px;
  box-shadow: 0 px 4 px 4 px rgba 0, 0, 0, 0, 15;
  border-radius: 4px;
}
.button__background {
  margin-top: 30px;
}
.button__name {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.elaboration {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}
.elaboration__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  padding: 25px 100px 25px 100px;
  background-color: #f5f4fa;
  border-radius: 4px;
  list-style-type: none;
}
.elaboration__item {
  max-width: 100%;
}
.elaboration__name {
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.elaboration__description {
  font-weight: 400;
  text-align: left;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-contact-color);
  margin-top: 10px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .elaboration .elaboration__item {
    max-width: 354px;
    max-height: 251px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .elaboration {
    display: flex;
    margin: 0 -15px;
    list-style: none;
    flex-wrap: wrap;
  }
  .elaboration__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    list-style-type: none;
  }
  .elaboration__item {
    max-width: 270px;
    margin-left: 15px;
    margin-right: 15px;
  }
  .elaboration__name {
    margin-bottom: 10px;
  }
  .elaboration__description {
    margin-top: 10px;
  }
}
.segregate {
  justify-content: center;
  display: flex;
  padding-bottom: 94px;
}
.segregate__photography {
  margin-left: 15px;
  list-style: none;
  margin-right: 15px;
  position: relative;
  width: 370px;
  min-height: 294px;
}
.segregate__discription {
  width: 370px;
  height: 70px;
  background-image: linear-gradient(0deg, rgba(47, 48, 58, 0.8) 0%, rgba(47, 48, 58, 0.8) 100%);
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .segregate {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .segregate {
    display: none;
  }
}
.team {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.team__component {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 622px;
  background-color: var(--brand-second-color);
}
.team__component__names {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--text-main-color);
}
.team__component__position {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--brand-contact-color);
}

.team__icone {
  display: flex;
  justify-content: center;
  list-style: none;
  padding-top: 16px;
  margin-right: 10px;
}

.team__icone--style {
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

.team__icone--elipse {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  fill: var(--icon-color);
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: fill, background-color;
}

.team__icone--elipse:active,
.team__icone--elipse:hover,
.team__icone--elipse:focus {
  fill: var(--brand-second-color);
  border-radius: 50%;
  background-color: #2196f3;
}

/*
    .team {
      list-style: none;
      display: flex;
      justify-content: center;


    &__component {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 30px;
      width: 270px;
      height: 428px;
      background-color: var(--brand-second-color);


    &:first-child {
      margin-left: 0px;
    }

    &:last-child {
      margin-right: 0px;
    }
    }

    &__names {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 30px;
      margin-bottom: 10px;
      color: var(--text-main-color);
    }

    &__position {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--brand-contact-color);
    }

    &__icone {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 16px;
      margin-right: 10px;


    &--style {
      display: flex;
      justify-content: center;
      padding-right: 10px;
    }

    &--elipse {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      fill: var(--icon-color);
      transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
      transition-property: fill, background-color;
    }

    &--elipse:active,
    &--elipse:hover,
    &--elipse:focus {
      fill: var(--brand-second-color);
      border-radius: 50%;
      background-color: #2196f3;
    }
    }
    }
*/
.client {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
}
.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  width: 200px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: fill, border-color;
}
.client__item:active, .client__item:hover, .client__item:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
.client__icon {
  transition: var(--transition);
  transition-property: fill;
}

@media screen and (min-width: 1200px) {
  .client {
    flex-wrap: nowrap;
  }
  .client__item {
    width: 170px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    justify-content: space-evenly;
  }
  .client__item {
    width: 226px;
  }
}
.information__logo {
  text-align: center;
}
.information__adres {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--brand-second-color);
  padding-top: 20px;
  padding-bottom: 9px;
}

.footer-information {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  list-style: none;
  text-decoration: none;
}
.footer-information__item {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding-bottom: 8px;
}
.footer-information__link {
  text-align: center;
  padding-bottom: 8px;
  color: var(--brand-contact-color);
  transition: var(--transition);
  transition-property: color;
}
.footer-information__link:active, .footer-information__link:hover, .footer-information__link:focus {
  color: var(--brand-mlight-color);
}

/*desktop*/
@media screen and (min-width: 1200px) {
  .information__logo {
    text-align: left;
  }
  .information__adres {
    text-align: left;
  }

  .footer-information__item {
    text-align: left;
  }
}
.socialmedia {
  margin-top: 60px;
  margin-bottom: 46px;
}
.socialmedia__title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  color: var(--brand-second-color);
}

.footer-socialmedia {
  width: 206px;
  list-style: none;
  display: inline-flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.footer-socialmedia__light {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10px;
}
.footer-socialmedia__icone {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--brand-second-color);
}
.footer-socialmedia__icone {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: fill, background-color;
}
.footer-socialmedia__icone:active, .footer-socialmedia__icone:hover, .footer-socialmedia__icone:focus {
  border-radius: 50%;
  background-color: #2196f3;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .socialmedia {
    margin-top: 12px;
    margin-left: 70px;
  }
  .socialmedia__title {
    text-align: center;
  }

  .footer-socialmedia {
    text-align: left;
    width: 206px;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
  }
  .footer-socialmedia__light {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
  }
  .footer-socialmedia__icone {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--brand-second-color);
  }
  .footer-socialmedia__icone {
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
    transition-property: fill, background-color;
  }
  .footer-socialmedia__icone:active, .footer-socialmedia__icone:hover, .footer-socialmedia__icone:focus {
    border-radius: 50%;
    background-color: #2196f3;
    cursor: pointer;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social {
    margin-top: 0;
  }
}
.newsletter {
  width: 100%;
  text-align: center;
  margin-top: 14px;
}
.newsletter__tittle {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-second-color);
}
.newsletter__bag {
  margin-top: 20px;
}
.newsletter__input {
  width: 100%;
  height: 50px;
  padding: 15px;
  padding-left: 16px;
  margin-bottom: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--brand-two-color);
  color: var(--brand-second-color);
}
.newsletter__button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter__icon {
  margin-left: 24px;
}

@media screen and (min-width: 1200px) {
  .newsletter {
    width: 570px;
    text-align: left;
    margin-top: 8px;
    margin-left: 78px;
  }
  .newsletter__tittle {
    margin: 0;
    padding: 0;
    text-align: left;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: var(--brand-second-color);
    margin-left: 78px;
  }
  .newsletter__bag {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
  }
  .newsletter__input {
    width: 358px;
    height: 50px;
    padding: 15px;
    padding-left: 16px;
    margin-right: 12px;
    margin-left: 78px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--brand-two-color);
    color: var(--brand-second-color);
  }
  .newsletter__button {
    align-items: center;
  }
  .newsletter__icon {
    margin-left: 24px;
  }
}
/*.newsletter {
  width: 570px;
  text-align: left;
  margin-top: 8px;
  margin-left: 78px;


&__tittle {
  margin: 0;
  padding: 0;
  text-align: left;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--brand-second-color);
  margin-left: 78px;
}

&__bag {
  display: inline-flex;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

&__input {
  width: 358px;
  height: 50px;
  padding: 15px;
  padding-left: 16px;
  margin-right: 12px;
  margin-left: 78px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--brand-two-color);
  color: var(--brand-second-color);
}

&__button {
  align-items: center;
}

&__icon {
  margin-left: 24px;
}
}
*/
.menu {
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  list-style: none;
  margin-bottom: 50px;
}
.menu__click {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
  background: #f5f4fa;
  border: 0px;
  cursor: pointer;
  border-radius: 4px;
  width: 114px;
  height: 38px;
  transition: var(--transition);
  transition-property: color, background, box-shadow;
  margin-right: 4px;
  margin-left: 4px;
}
.menu__click:hover, .menu__click:active, .menu__click:focus {
  background: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}
.offer__name {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.offer__name--title {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--brand-contact-color);
}
.offer__photo {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  max-width: 370px;
  height: 404px;
  list-style-type: none;
  flex-basis: 390px;
  border: 0px;
  overflow: hidden;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
}
.offer__photo:active, .offer__photo:hover, .offer__photo:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.offer > img {
  object-fit: cover;
}
.offer-discription {
  z-index: 1001;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  position: absolute;
  margin-top: -6px;
  list-style: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.offer__photo:hover .describe {
  transform: translateY(0);
}

.studio-header {
  height: 60px;
  display: flex;
  border-bottom: 1px solid #ececec;
  background: var(--brand-second-color);
  z-index: 999;
}
.studio-header .container {
  display: flex;
  align-items: center;
}
.studio-header__logo {
  padding-right: 93px;
}

@media screen and (min-width: 1200px) {
  .studio-header {
    height: 80px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .studio-header {
    height: 80px;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  .studio-header {
    position: fixed;
    width: 100%;
  }
}
.studio-footer {
  background: var(--brand-two-color);
  padding-bottom: 60px;
  padding-top: 60px;
}
.studio-footer_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .studio-footer__container {
    display: flex;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.6);
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer__container {
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}/*# sourceMappingURL=main.css.map */