@import "./utils/variables";

@import "./basis/common";
@import "./basis/section";
@import "./basis/container";
@import "./components/checkbox";
@import "./components/form";
@import "./components/backdrop";
@import "./components/modal";
@import "./components/bigmac";

@import "./components/describe";
@import "./components/logo";
@import "./components/navi";
@import "./components/topcontact";
@import "./components/baner";
@import "./components/button";
@import "./components/loremipsum";
@import "./components/segregate";
@import "./components/team";
@import "./components/client";
@import "./components/information";
@import "./components/socialmedia";
@import "./components/newsletter";
@import "./components/menu";
@import "./components/offer";

@import "./layout/studioheader";
@import "./layout/studiofooter";