* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}

.studio {
    font-family: "Roboto", "Raleway", sans-serif;
    color: var(--text-main-color);
    background: var(--brand-second-color);
    text-align: center;
}

img{
    max-width: 100%;
}