.client {
  display: flex;
  justify-content: space-between;
  list-style: none;


&__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;


& {
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: fill, border-color;
}


&:active,
&:hover,
&:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
}

&__icon {
  transition: var(--transition);
  transition-property: fill;
}
}