//mobile//
.client {
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
  flex-wrap: wrap;
  margin: -15px -15px;


&__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 15px 15px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;

  &{
  transition: var(--transition);
  transition-property: fill, border-color;}

&:active,
&:hover,
&:focus {
  fill: #2196f3;
  border-color: #2196f3;
}
}
}

@media screen and (min-width: 1200px) {
  .client {
    flex-wrap: nowrap;
    
    &__item {
      width: 170px;
      margin-bottom: 0;
}
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .client {
    justify-content: space-evenly;
    
    &__item {
    flex: 0 0 calc(33.3% - 30px);
    max-width: calc(33.3% - 30px);
    margin-left: 14px;
    margin-right: 14px;
      
}
}
}

//mobile
@media screen and (min-width: 450px) and (max-width: 767px) {
  .client__item{
    flex: 0 0 calc(50% - 30px);
    max-width: calc(50% - 30px);
  }
  }
