.describe {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform;
}

.describe > .describe__label {
  text-align: left;
  padding-top: 49px;
  padding-left: 24px;
  padding-bottom: 49px;
  padding-right: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.555;
  letter-spacing: 0.03em;
  color: #ffffff;
}
