.form {
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;

& .form-input:focus-within {
        border: 1px solid var(--brand-mlight-color);
    }

&-label {
  display: block;
  margin-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  transition: var(--transition);
  transition-property: border, fill;

  &__icon--name {
      position: absolute;
      left: 12px;
      top: 65px;
    }
  
    &__icon--phone {
      position: absolute;
      left: 12px;
      top: 135px;
    }
  
    &__icon--email {
      position: absolute;
      left: 12px;
      top: 200px;
    }


&__text {
  margin-bottom: 4px;
}

&:focus-within {
  fill: var(--brand-mlight-color);
}

&__topic {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-main-color);
}

&__textarea {
    margin-top: 4px;
    padding: 12px 16px 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 100%;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    transition: var(--transition);
    transition-property: border;
    cursor: pointer;

    &:focus {
            border: 1px solid var(--brand-mlight-color);
        }
}
}

&-input {
  padding: 8px;
  font-family: inherit;
  font-size: 16px;
  outline: none;
  width: 448px;
  height: 40px;
  left: 576px;
  top: 450px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  text-indent: 42px;
  cursor: pointer;

  &::placeholder {
  color: #9e9e9e;
}
}
}

//tablet
@media screen and (min-width: 768px) and (max-width: 1199px) {
.form{
&-input{
  width: 370px;}

&-label__icon--name {
  position: absolute;
  left: 12px;
  top: 85px;
}

&-label__icon--phone {
  position: absolute;
  left: 12px;
  top: 155px;
}

&-label__icon--email {
  position: absolute;
  left: 12px;
  top: 220px;
}
}
}


//mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  .form{
    &-input{
      width: 100%;}
    
    &-label__icon--name {
      position: absolute;
      left: 12px;
      top: 85px;
    }
    
    &-label__icon--phone {
      position: absolute;
      left: 12px;
      top: 155px;
    }
    
    &-label__icon--email {
      position: absolute;
      left: 12px;
      top: 220px;
    }
    }
    }
