.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background-color: #ffffff;
  transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
  transition-property: transform;
  border-radius: 4px;


&__close--btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
}

@media screen and (min-width: 1200px) {
  //desktop
  .modal {
    width: 528px;
    height: 581px;
      &__head {
          max-width: 446px;
          line-height: 30px;
      }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  // tablet
  .modal {
      max-width: 450px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  // mobilie
  .modal{
    width: 100%;
  }
}