.newsletter {
  width: 100%;
  text-align: center;
  margin-top: 14px;

  &__tittle {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--brand-second-color);
  }

  &__bag {
    margin-top: 20px;
  }

  &__input {
    width: 100%;
    height: 50px;
    padding: 15px;
    padding-left: 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--brand-two-color);
    color: var(--brand-second-color);
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    margin-left: 24px;
  }
}

@media screen and (min-width: 1200px) {
.newsletter {
  width: 570px;
  text-align: left;
  margin-top: 8px;
  margin-left: 78px;


  &__tittle {
    margin: 0;
    padding: 0;
  }

  &__bag {
    display: inline-flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
  }

  &__input {
    width: 358px;
    height: 50px;
    padding: 15px;
    padding-left: 16px;
    margin-right: 12px;
    margin-left: 78px;
  }
}
}


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter {
    margin-top: 60px;
    width: 450px;
    align-items: center;
  }
}