.offer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;

&__name {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 4px;
  text-align: left;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

&--title {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  text-align: left;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--brand-contact-color);
}
}

&__photo {
  z-index: 1;
  position: relative;
  margin-bottom: 30px;
  max-width: 370px;
  height: 404px;
  list-style-type: none;
  flex-basis: calc(1170px / 3);
  border: 0px;
  overflow: hidden;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;

&:active,
&:hover,
&:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

& > img {
  object-fit: cover;
}

&-discription {
  z-index: 1001;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #ffffff;
  position: absolute;
  margin-top: -6px;
  list-style: none;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
}

.offer_photo:hover .describe {
    transform: translateY(0);
}

