/*
.segregate {
  justify-content: center;
  display: flex;
  padding-bottom: 94px;


&__photography {
  margin-left: 15px;
  list-style: none;
  margin-right: 15px;
  position: relative;
  width: 370px;
  min-height: 294px;
}

&__discription {
  width: 370px;
  height: 70px;
  background-image: linear-gradient(
    0deg,
    rgba(47, 48, 58, 0.8) 0%,
    rgba(47, 48, 58, 0.8) 100%
  );
  position: absolute;
  bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
}
*/