.socialmedia {
    margin-top: 60px;
    margin-bottom: 46px;
    width: calc(100vw - 30px);

    &__title {
        text-align: center;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        margin-bottom: 20px;
        color: var(--brand-second-color);
    }
}

.footer-socialmedia {
    width: 206px;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    text-align: left;


    &__light {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
    }

    &__icone {
        display: flex;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        justify-content: center;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.1);
        fill: var(--brand-second-color);


        & {
            transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
            transition-property: fill, background-color;
        }

        &:active,
        &:hover,
        &:focus {
            border-radius: 50%;
            background-color: #2196f3;
            cursor: pointer;
        }
    }
}



//desktop//
@media screen and (min-width: 1200px){
.socialmedia {
    margin-top: 12px;
    margin-left: 70px;


&__title {
    text-align: left;
}
}

.footer-socialmedia {
    text-align: left;
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
}
}


//tablet//
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .socialmedia {
        width: calc(50vw - 30px);
    }
}

//mobile//
@media screen and (min-width: 320px) and (max-width: 767px) {

}