.team {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;

  &__component {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      width: 100%;
      height: 622px;
      background-color: var(--brand-second-color);
  
  &__names {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 30px;
      margin-bottom: 10px;
      color: var(--text-main-color);
    }

  &__position {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-contact-color);
  }
}
}
  .team__icone {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 16px;
      margin-right: 10px;}
  
    .team__icone--style {
      display: flex;
      justify-content: center;
      padding-right: 10px;
      }
  
    .team__icone--elipse {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      fill: var(--icon-color);
      transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
      transition-property: fill, background-color;
      }
  
.team__icone--elipse:active,
.team__icone--elipse:hover,
.team__icone--elipse:focus {
      fill: var(--brand-second-color);
      border-radius: 50%;
      background-color: #2196f3;
    }

        /*
    .team {
      list-style: none;
      display: flex;
      justify-content: center;
    
    
    &__component {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      border-radius: 0px 0px 4px 4px;
      margin-left: 15px;
      margin-right: 15px;
      padding-bottom: 30px;
      width: 270px;
      height: 428px;
      background-color: var(--brand-second-color);
    
    
    &:first-child {
      margin-left: 0px;
    }
    
    &:last-child {
      margin-right: 0px;
    }
    }
    
    &__names {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      margin-top: 30px;
      margin-bottom: 10px;
      color: var(--text-main-color);
    }
    
    &__position {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.19;
      text-align: center;
      letter-spacing: 0.03em;
      color: var(--brand-contact-color);
    }
    
    &__icone {
      display: flex;
      justify-content: center;
      list-style: none;
      padding-top: 16px;
      margin-right: 10px;
    
    
    &--style {
      display: flex;
      justify-content: center;
      padding-right: 10px;
    }
    
    &--elipse {
      display: flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      background-color: transparent;
      justify-content: center;
      align-items: center;
      fill: var(--icon-color);
      transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms;
      transition-property: fill, background-color;
    }
    
    &--elipse:active,
    &--elipse:hover,
    &--elipse:focus {
      fill: var(--brand-second-color);
      border-radius: 50%;
      background-color: #2196f3;
    }
    }
    }
*/